
html {
font-family: Inter;
font-size: 16px;
}
      
body {
font-weight: 400;
font-style: normal;
text-decoration: none;
text-transform: none;
letter-spacing: normal;
line-height: 1.15;
color: var(--dl-color-gray-black);
background-color: var(--dl-color-gray-white);
}
html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}
.midietamenuprincipal-container {
  min-height: 100vh;
}
.midietamenuprincipal-midietamenuprincipal {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.midietamenuprincipal-group12 {
  top: 129px;
  left: 722px;

  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.midietamenuprincipal-frame11 {
  top: 0px;
  left: 0px;

  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.midietamenuprincipal-text {
  color: rgba(34, 73, 87, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lexend Deca;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.midietamenuprincipal-frame8 {
  width: 350px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.midietamenuprincipal-frame7button {

  width: 215px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(163, 255, 172, 1);
}

.midietamenuprincipal-text02 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-frame8button {
  top: 282px;
  left: 60px;

  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 252, 198, 1);
}

.midietamenuprincipal-text04 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-frame9button {
  top: 282px;
  left: 815px;
  width: 236px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 252, 198, 1);
}

.midietamenuprincipal-text06 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-frame12button {
  top: 282px;
  left: 414px;
  width: 236px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 252, 198, 1);
}
.midietamenuprincipal-frame163 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.midietamenuprincipal-frame173 {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.midietamenuprincipal-text08 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-frame11button {
  top: 282px;
  left: 1590px;
  width: 263px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 252, 198, 1);
}

.midietamenuprincipal-text10 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-frame10button {
  top: 282px;
  left: 1203px;
  width: 236px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 252, 198, 1);
}


.midietamenuprincipal-text12 {
  color: rgba(9, 12, 2, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.midietamenuprincipal-image64svg {
  top: 429px;
  left: 494px;
  width: 800px;
  height: 450px;
  position: absolute;
  border-color: transparent;
}
.midietamenuprincipal-h-e-a-d-e-r {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 98px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(190, 222, 221, 1);
}
.midietamenuprincipal-ellipse4 {
  top: 16.704545974731445px;
  left: 1789px;
  width: 64px;
  height: 61px;
  position: absolute;
}
.midietamenuprincipal-group169 {
  top: 29px;
  left: 552px;
  width: 1008px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.midietamenuprincipal-text14 {
  color: rgba(48, 63, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.midietamenuprincipal-text16 {
  left: 310px;
  color: rgba(48, 63, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.midietamenuprincipal-text18 {
  left: 561px;
  color: rgba(48, 63, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.midietamenuprincipal-text20 {
  left: 819px;
  color: rgba(48, 63, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.midietamenuprincipal-group170 {
  top: 8px;
  left: 68px;
  width: 255px;
  height: 78.04878234863281px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.midietamenuprincipal-text22 {
  top: 7px;
  left: 100px;
  color: rgba(95, 6, 62, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Lexend Deca;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.midietamenuprincipal-image6 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 78px;
  position: absolute;
  border-color: transparent;
  border-radius: 101px;
}
